.info-item {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}
.item-title-block{
  width: 310px;
  display: flex;
  flex-direction: column;
}
.title-block__title {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font-family-second);
  font-style: normal;
  line-height: 34.05px;
  color: rgba(40, 40, 40, 1);
}
.info-item:not(:first-of-type) {
  margin-top: 40px;
}
.title-block__description {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  color: rgba(40, 40, 40, 1);
}
.title-block__price {
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 20.8px;
  color: rgba(52, 165, 115, 1);
}
.info-item__btn {
  width: 360px;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  background: rgba(94, 109, 226, 1);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family-second);
  font-style: normal;
  color: rgba(255, 255, 255, 1);
}

@media (max-width:768px){
  .info-item{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-block{
    width: 100%;
    align-items: baseline;
  }
  .title-block__price{
    width: max-content;
    max-width: 300px;
  }
  .info-item__btn{
    margin-top: 30px;
  }
}

@media (max-width:480px){
  .title-block{
    flex-direction: column;
  }
  .info-item__btn{
    width: 100%;
    margin-top: 30px;
  }
  .title-block__description{
    margin-top: 6px;
  }
  .title-block__price{
    margin-top: 10px;
  }
  .info-item__btn{
    margin-top: 20px;
  }
}
