.info-block {
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  height: max-content;
  border-radius: 15px;
}
.content-block {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
  max-width: 1120px;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-block__content {
  max-width: 478px;
}
.content-title {
  max-width: 380px;
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font-family-second);
  font-style: normal;
  color: rgba(40, 40, 40, 1);
}
.price-block {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  height: max-content;
}
.price-block__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.price-block__item:not(:first-of-type) {
  margin-top: 22px;
}
.item-title {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 23.4px;
  color: rgba(40, 40, 40, 1);
}
.item-price {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family);
  font-style: normal;
  line-height: 23.4px;
  color: rgba(52, 165, 115, 1);
}
.content-description {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  color: rgba(40, 40, 40, 1);
}
.content-btn {
  margin-top: 20px;
  width: 100%;
  max-width: 478px;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: rgba(94, 109, 226, 1);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family-second);
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.content-block img {
  width: 530px;
  height: 477px;
}

@media (max-width:768px){
  .content-block{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-block__content{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-title{
    text-align: center;
  }
  .content-description{
    text-align: center;
  }
  .content-btn{
    margin-top: 30px;
  }
}

@media (max-width:480px){
  .content-block{
    margin: 20px;
    flex-direction: column-reverse;
  }
  .content-block img{
    width: 100%;
    height: max-content;
  }
  .content-title{
    width: 100%;
    text-align: start;
    font-size: 20px;
    line-height: 27.24px;
  }
  .price-block{
    margin-top: 20px;
  }
  .price-block__item:not(:first-of-type) {
    margin-top: 15px;
  }
  .content-description{
    margin-top: 0px;
    font-size: 14px;
    line-height: 19.6px;
    text-align: start;
  }
  .content-btn{
    margin-top: 20px;
  }
}