.block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content {
  border-radius: 15px;
  width: 800px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(40, 40, 40, 1);
}
.content__content {
  margin: 20px 0;
  width: calc(100% - 40px);
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.head-block button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.head-block img {
  width: 40px;
  height: 40px;
}
.form-block {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--font-open);
  font-style: normal;
  line-height: 54.47px;
  color: rgba(255, 255, 255, 1);
}
.input-field {
  background: transparent;
  border-style: solid;
  padding-left: 15px;
  margin-top: 20px;
  width: calc(100% - 19px);
  border-color: rgba(207, 207, 207, 1);
  border-width: 1px;
  outline: none;
  height: 52px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-lato);
  font-style: normal;
  line-height: 19.2px;
  color: rgba(255, 255, 255, 1);
}
.input-field::placeholder {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-lato);
  font-style: normal;
  line-height: 19.2px;
  color: rgba(207, 207, 207, 1);
}
.check-box-block {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.check-box-block span {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-lato);
  font-style: normal;
  line-height: 19.2px;
  color: rgba(255, 255, 255, 1);
}
.check-box-button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
}
.form-block__button {
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: rgba(52, 165, 115, 1);
  width: 100%;
  height: 55px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-open);
  font-style: normal;
  line-height: 25.2px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  margin-bottom: 30px;
}

@media (max-width:768px){
  .content {
    width: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .content {
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
  }
  .form-block {
    margin-top: 20px;
    width: 100%;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32.68px;
  }
  .input-field {
    padding-left: 10px;
    border-style: solid;
    width: calc(100% - 14px);
    background: transparent;
  }
}
