.info-block {
  margin-top: 70px;
  width: 100%;
  max-width: 1200px;
  height: max-content;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.content-block {
  margin-top: 40px;
  margin-bottom: 40px;
  width: calc(100% - 80px);
  max-width: 1120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content-block img {
  width: 530px;
  height: 482px;
}
.content-block__content {
  width: 487px;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.content-title {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font-family-second);
  font-style: normal;
  line-height: 34.05px;
  color: rgba(40, 40, 40, 1);
}
.content__services {
  margin-top: 30px;
  width: 100%;
}
.service__item {
  margin-top: 22px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.service__item:first-of-type{
  margin-top: 0;
}
.item__title {
  max-width: 260px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  color: rgba(40, 40, 40, 1);
}
.item__price {
  width: 170px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-family);
  font-style: normal;
  color: rgba(52, 165, 115, 1);
}
.content__btn {
  margin-top: 20px;
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: rgba(94, 109, 226, 1);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-family-second);
  font-style: normal;
  color: rgba(255, 255, 255, 1);
}

@media(max-width:768px){
  .content-block{
    flex-direction: column;
  }
  .content-block__content{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .content__btn{
    width: 478px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media (max-width:480px){
  .info-block{
    margin-top: 40px;
  }
  .content-block {
    margin: 20px;
    width: calc(100% - 40px);
    flex-direction: column-reverse;
  }
  .content-block__content{
    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
  }
  .content-block img {
    width: 100%;
    height: max-content;
  }
  .content__services {
    margin-top: 20px;
  }
  .service__item{
    flex-direction: column;
  }
  .item__title{
    max-width: 100%;
  }
  .item__price{
    margin-top: 10px;
    width: 100%;
  }
  .content__btn{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
  }
}